:root {
  --md-text-font: "Outfit", sans-serif;
  --md-code-font: "JetBrains Mono", monospace;
}

html {
  font-size: 15px;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: 600;
  letter-spacing: -0.01em;
}

.md-typeset h1 {
  font-size: 2.1rem;
}

.md-typeset h2 {
  font-size: 1.6rem;
}

.md-typeset h3 {
  font-size: 1.25rem;
}

.md-header__title,
.md-nav__title {
  font-weight: 600;
  letter-spacing: 0.01em;
}
